{% extends "base.html" %}
{% block title %}post_edit Page{% endblock  %}
{% block body %}
{% load static %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="class my-3 shadow">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input class="btn btn-primary btn-sm" type="submit" value="save">
                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock  %}